[MASTER]

# Enable Pydoc checking
# enable = pydocstyle

[MESSAGES CONTROL]

# Disable some Pydocstyle checks
disable = missing-module-docstring,import-error,no-name-in-module

[FORMAT]

# Set indentation to 4 spaces
indent-string = '    '

[DESIGN]

# Check for PEP-8 compliance
min-public-methods = 0
max-args = 10
max-attributes = 7
max-locals = 15
max-public-methods = 20

[VARIABLES]

# Naming conventions
const-rgx=[A-Z_][A-Z0-9_]*$
class-rgx=^[A-Z][a-zA-Z0-9]*$
method-rgx=^_*[a-z0-9_]*[a-z_]$
variable-rgx=^_*[a-z0-9_]*[a-z_]$

[TYPECHECK]

# Run type checking
# (add more options if needed)

